/** {*/
  /*background-color: rgb(127, 205, 199);*/
  /*color: white;*/
  /*font-family: roboto;*/
/*}*/

body {
  background-color: #F5F5F5;
}

.header-logo {
  float: left;
  width: 15%;
  padding: 9px 10px;
}

.img_medium {
  width: 50%;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: rgb(127, 205, 199);
}

.navbar, .navbar-default {
  background-color: rgb(127, 205, 199);
  border-color: rgb(127, 205, 199);
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #1b6d85;
}

.navbar-default .navbar-nav>li>a {
  border-radius: 15px;
  color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
}

#nav-bar-active {
  background-color: rgb(127, 205, 199);
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-left {
  margin-left: 15px;
}

.margin-left-small {
  margin-left: 5px;
}

.margin-right-small {
  margin-left: 5px;
}

.margin-bottom-footer {
  margin-bottom: 60px;
}

.review {
  border: 1px solid #7fcdc7;
  padding: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 0;
  min-height: 60px;

  background-color: rgb(127, 205, 199);
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.footer a {
  color: white;
}

.img_small {
  width: 5%;
}

.index_cat {
  width: 25%;
  float: right;
  padding-right: 0;
}

.index_dog {
  width: 5%;
  float: left;
  padding-right: 0;
}

.nav-logo-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  z-index: 1;
}

.nav-logo {
  width: 100px;
}

.index_logo_container {

}

.index_logo {
  background-color: white;
  border: 1px solid;
  padding: 15px;
}

/* Portrait */
@media only screen
and (min-device-width: 300px)
and (max-device-width: 700px) {
  .img_medium {
    width: 60%
  }
}

.mobile-logo {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header-logo {
    display: none;
  }
  .mobile-logo {
    display: inline-block;
    height: 34px;
    position: relative;
    margin-top: 8px;
    margin-left: 15px;
  }
  .footer {
    position: relative;
  }
  .img_medium {
    width: 60%
  }
}

.padding-top {
padding-top: 15px;
}

p {
font-size: 16px;
}

.vertical-align {
display: flex;
align-items: center;
}


.full-width {
width: 100%;
}

.no-padding {
padding: 0;
}
.border {
border: 1px solid black;
}

.navbar-brand img{
height: 20px;
width: 20px;
}

.facebook-ico {
  width: 12px;
  margin-right: 5px;
}
