---
import { Image } from "astro:assets";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;

const maxImagesToShow = 8;
const imagesToShow = blok.image.slice(0, maxImagesToShow);
---

<section {...storyblokEditable(blok)} id="dog-gallery" class="pt-24" >
  {
    imagesToShow.map((img) => (
      <Image
        src={img.filename}
        alt=""
        class="object-cover w-full h-full"
        inferSize={true}
      />
    ))
  }
</section>

<style>
  #dog-gallery {
    display: grid;
    /* this is a big ugly todo in tailwind so using css directly */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
