---
import { storyblokEditable } from "@storyblok/astro";
const { blok } = Astro.props;
console.log(blok);
console.log(JSON.stringify(blok.prices.tbody, null, 2));
---

<div {...storyblokEditable(blok)} class="">
  <div class="gap-5 m-5">
    <table class="table-fixed min-w-80 ">
      <thead class="flex">
        {
          blok.prices.thead.map((row) => (
            <tr>
              <th>{row.value}</th>
            </tr>
          ))
        }
      </thead>
      <tbody class="">
        {
          blok.prices.tbody.map((row) => (
            <tr class="border-2 bd-gray-400 flex justify-between m-1	">
              {row.body.map((cell) => (
                <td>{cell.value}</td>
              ))}
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</div>

<script define:vars={{ blok }}>
  console.log(blok);
  console.log(blok.prices.tbody[0].body[0].value);
</script>
