---
import { Image } from "astro:assets";
import taraImage from "public/images/tara-poppy.jpeg";
import { storyblokEditable } from "@storyblok/astro";
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="">
  <section id="services" class="flex flex-col gap-10 pt-24">
    <h1
      class="text-5xl text-neutral-900 col-span-4 text-center tracking-widest"
    >
      Services & <span class="text-orange-500">Prices</span>
    </h1>
    <!-- <h2 class="text-xl text-neutral-900 col-span-4 text-center tracking-wide">
      Walks are varied and usually include some time in woodland and also in
      open fields, they are carefully planned to suit the particular dogs and
      weather conditions at the time. Group walks are great fun for the dogs and
      can help reduce boredom, anxiety and destructive behaviours at home. They
      also learn valuable social skills whilst out with their friends. Your dog
      will come home deeply relaxed and sleep soundly after their walk.
    </h2> -->

    <div
      class=" bg-neutral-50 p-2 grid grid-cols-2 justify-around justify-items-center lg:m-10 md:flex-row"
    >
      <div class="  text-justify text-xl leading-loose self-center w-10/12">
        <p class="mb-4">
          Walks are varied and usually include some time in <span
            class="text-green-700">woodlands</span
          > and also in
          <span class="text-green-700">open fields</span>, they are carefully
          planned to suit the particular dogs and weather conditions at the
          time.
        </p>
        <p>
          Group walks are great fun for the dogs and can help reduce boredom,
          anxiety and destructive behaviours at home. They also learn valuable
          social skills whilst out with their friends. Your dog will come home
          deeply relaxed and sleep soundly after their walk.
        </p>
      </div>

      <div class="flex flex-col m-2 gap-5 text-left lg:p-5 lg:grid md:w-9/12">
        <p class="text-3xl">Group Walks</p>
        {
          blok.prices_table.tbody.map((row, index) => (
            <div
              id={index}
              class="border-2 border-neutral-200 rounded-md flex items-center justify-between px-6 p-2  lg:gap-14 bg-white  "
            >
              <div class="flex flex-col  ">
                <div class="text-2xl text-neutral-900 font-medium  ">
                  {row.body[0].value}
                </div>
                <div class="text-1xl italic text-neutral-500">
                  {row.body[1].value}
                </div>
              </div>
              <div class="text-2xl text-orange-500 font-medium">
                {row.body[2].value}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</div>
