---
import { Image } from "astro:assets";
import hero_image from "public/images/hero-5-darken.jpg";
import down_chevron from "public/icons/icons8-down-chevron-50 (2).png";
---

<section
  id="home"
  class="flex flex-col justify-center items-center gap-3 border-1 lg:flex-row m-5"
>
  <div
    class="md:hidden flex flex-col h-[calc(100vh-13rem)] items-center justify-center"
  >
    <Image
      class="m-auto"
      src="/Waggles&Whiskers-no-text.png"
      alt="Waggles & Whiskers"
      width="300"
      height="300"
    />
    <a href="#profile ">
      <Image
        class="mb-50 size-12 sm:size-14 mt-auto"
        src={down_chevron}
        alt="Waggles & Whiskers"
        width="300"
        height="300"
      />
    </a>
  </div>
  <div id="profile"></div>
  <div class="mt-20 flex flex-col gap-8 items-center md:m-3">
    <h1 class="text-6xl text-neutral-900 tracking-widest text-center">
      <span class="text-orange-500">Friendly</span> Dog Walking in Brighton
    </h1>
    <h2 class="text-xl tracking-wider text-center text-neutral-800">
      Your dogs health and happiness comes first with Waggles & Whiskers, based
      in Hanover, providing a professional and reliable service you can trust.
    </h2>

    <a
      href="mailto:waggleswhiskers@gmail.com"
      class="bg-orange-500 font-medium text-l shadow shadow-orange-500/50 hover:bg-green-600/90 hover:shadow-green-600/50 active:bg-green-700 focus:outline-none rounded-lg py-2 max-w-fit p-4 text-white tracking-wider"
    >
      waggleswhiskers@gmail.com</a
    >

    <a
      href="tel:07875291157"
      class="rounded-lg py-2 p-3 tracking-wider text-orange-500 font-bold text-l border-2 border-orange-500 hover:border-green-600/90 hover:text-green-600 hover:shadow-green-500/50 active:bg-green-700 active:text-white focus:outline-none shadow shadow-orange-500/50"
    >
      07875 291 157
    </a>
  </div>
  <Image
    src={hero_image}
    alt="owner sitting on log with two dogs in forest."
    width={600}
    height={300}
    class="object-contain rounded-lg shadow-lg m-3 "
    loading="eager"
  />
</section>

