---
import { Image } from "astro:assets";
---

<html>
  <body class="container mx-auto">
    <nav>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="reviews.html">Recommendations</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="prices.html">Services & Prices</a></li>
        <li><a href="gallery.html">Gallery</a></li>
      </ul>
    </nav>

    <div>
      <section>
        <div>
          <Image
            src="/logo.jpg"
            alt="Waggles & Whiskers"
            width={500}
            height={200}
          />
        </div>
      </section>
      <section>
        <div>
          <p>
            <Image
              src="/dog.svg"
              alt="Waggles & Whiskers"
              width={20}
              height={20}
            />
            Waggles &amp; Whiskers is a well-established and reputable company based
            in the Hanover / Elm Grove area of Brighton that provides a professional,
            reliable and friendly dog walking service that you can trust.
          </p>
          <p>
            Whether you're busy working at home or out for the day you can be
            sure your dog will be happy, healthy and safe with Waggles &amp;
            Whiskers.
          </p>
          <p>
            Your dog will benefit both physically and mentally from socialising
            and playing with other friendly dogs on group walks. Walks are in
            safe open spaces away from roads in places especially chosen to
            provide excitement and mental stimulation for your dog. Walks are
            varied and usually include some time in woodland and also in open
            fields, they are carefully planned to suit the particular dogs and
            weather conditions at the time. Group walks are great fun for the
            dogs and can help reduce boredom, anxiety and destructive behaviours
            at home. They also learn valuable social skills whilst out with
            their friends. Your dog will come home deeply relaxed and sleep
            soundly after their walk.
          </p>
          <p>
            Cats and other pets in the Hanover / Elm Grove area can be visited
            once or twice a day for feeding and play as required and will be
            cared for with love while you’re away.
          </p>
        </div>
      </section>
    </div>
    <footer>
      <div>
        <small>
          <a href="https://www.facebook.com/waggleswhiskers/">
            <Image
              src="/facebook-icon.ico"
              alt="Waggles & Whiskers"
              width={20}
              height={20}
            />facebook/waggleswhiskers</a
          >
        </small>
      </div>
      <div>
        <small> 07875 291157 | 01273 606259</small>
      </div>
      <div>
        <small>
          <a href="mailto:#">waggleswhiskers@gmail.com</a>
        </small>
      </div>
    </footer>
  </body>
</html>
