---
import Layout from "./layout.astro";

import Home from "./home.astro";
import ServicesPrices from "src/pages/servicesPrices.astro";
import KeyPoints from "src/pages/key_Points.astro";
import Gallery from "./gallery.astro";

import Testimonials from "src/pages/testermonials.astro";
import Services_landscape from "src/pages/SP_landscape.astro";

import "@/styles/global.css";
---

<Layout title="Home Page">
  <section id="home" class="mt-20 border-2">
    <Home />
  </section>

  <Services_landscape />

  <KeyPoints />

  <Testimonials />

  <Gallery />
</Layout>
