---
import Layout from "./layout.astro";

import Home from "./home.astro";
import KeyPoints from "src/pages/key_Points.astro";
import Gallery from "@/storyblok/ImageGallery.astro";
import Testimonials from "src/pages/testermonials.astro";
import Services_prices from "@/storyblok/services_Prices.astro";

import "@/styles/global.css";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/home", {
  version: "draft",
});

const story = data.story;
---

<Layout title="Home Page">
  <section id="home" class="pt-8 md:pt-16">
    <Home />
  </section>
  <!-- margin tops for layout are inside compnents for sotryblok -->
  <StoryblokComponent blok={story.content}>
    <section>
      <Services_prices />
    </section>
    <section>
      <Gallery />
    </section>
  </StoryblokComponent>
  <section class="mt-14 md:mt-20">
    <KeyPoints />
  </section>
  <section id="testimonials" class=" pt-14 md:pt-24">
    <Testimonials />
  </section>
</Layout>


<style>
  html {
    scroll-behavior: smooth;
  } 
  </style>