---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
import logoSrc from "./logo.jpg";
import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} description="welcome page" />
  </head>
  <body class="container mx-auto">
    <nav class="flex gap-10 items-center justify-center">
      <h1>Waggles & Whiskers</h1>
      <ul class="nav navbar-nav flex gap-5 items-center">
        <li class="active">
          <a href="#">
            <Image
              src={logoSrc}
              alt="Waggles & Whiskers"
              width={100}
              height={100}
            />
            <span class="sr-only">(current)</span></a
          >
        </li>
        <li><a href="Services&Prices.html">Services & Prices</a></li>
        <li><a href="Testimonials.html">Testimonials</a></li>
        <li><a href="Gallery.html">Gallery</a></li>
      </ul>
    </nav>
    <!-- <h1>{title}</h1> -->
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
</html>
