---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;

import Navigation from "../components/navigation.astro";
import NavbarShadcn from "../components/navbar-shadcn.jsx";
import NavbarShadcnDrop from "../components/navbar-shadcn-drop.jsx";

// Supports weights 300-700
import "@fontsource-variable/quicksand";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} description="welcome page" />
  </head>
  <body class="container mx-auto md:p-8">
    <!-- <Navigation /> -->
    <!-- <NavbarShadcn client:load /> -->
    <NavbarShadcnDrop client:load />
    <!-- DO WE REALLY NEED A COMPONENT? -->

    <!-- <h1>{title}</h1> -->
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <Footer />

    ../components/navigation.jsx
  </body>
</html>
