---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} description="welcome page" />
  </head>
  <body class="container mx-auto">
    <nav>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="reviews.html">Recommendations</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="prices.html">Services & Prices</a></li>
        <li><a href="gallery.html">Gallery</a></li>
      </ul>
    </nav>
    <h1>{title}</h1>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
</html>
