---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;

import NavbarShadcn from "../components/navbar-shadcn.jsx";
import NavbarShadcnDrop from "../components/navbar-shadcn-drop.jsx";
import NavbarMenu from "src/components/nav-menu.jsx";

// Supports weights 300-700
import "@fontsource-variable/quicksand";
import "@fontsource/amatic-sc";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead
      title="Waggles and Whiskers"
      description="Professional and reliable dog walking service in the Brighton area."
    />
  </head>
  <body class="container mx-auto has-[dialog[open]]:overflow-hidden">
    <!-- <Navigation Desktop /> -->
    <nav class="md:block hidden sticky top-0 z-2">
      <NavbarShadcn client:load />
    </nav>
    <!-- <Navigation Mobile /> -->
    <!-- <nav class="block md:hidden sticky top-0 z-10">
      <NavbarShadcnDrop client:load />
    </nav> -->
    <nav class="block md:hidden sticky top-0 z-10">
      <NavbarMenu client:load />
    </nav>
    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
</html>
