---
import { Image } from "astro:assets";
// import logoSrc from "/public/logo.jpg";
---

<!-- SERVICES & PRICES  --><!-- map over prices taken from Storyblok -->
<section id="services" class="border-2 border-blue-500 mt-40 ">
  <div class="flex flex-col gap-10 m-2">
    <h1 class="text-5xl col-span-4 text-center tracking-widest">
      Services & Prices
    </h1>
    <h2 class="text-xl col-span-4 text-center tracking-wide">
      Discover our furry-friendly pricing options, because every wag and whisker
      deserves affordable care tailored just for them!
    </h2>

    <div
      class="border-2 grid col-span-3 items-center gap-5 text-left justify-center p-5"
    >
      <!-- <Image src={logoSrc} alt="dog" width={300} height={300} /> -->
      <div class="border-2 flex justify-between">
        <h3 class="text-2xl">Consultation</h3>
        <p class="text-lg">FREE</p>
      </div>
      <div class="flex border-2 justify-between">
        <div>
          <h3 class="text-2xl">Group Walk</h3>
          <h4 class="text-1xl italic">Individual</h4>
        </div>
        <p class="text-lg">£14</p>
      </div>
      <div class="border-2 flex items-center justify-between">
        <div>
          <h3 class="text-2xl">2 Dogs</h3>
          <h4 class="text-1xl italic">From same house</h4>
        </div>
        <p class="text-lg">£25</p>
      </div>
      <div class="border-2 flex items-center justify-between">
        <div>
          <h3 class="text-2xl">Double Walk</h3>
          <h4 class="text-1xl italic">1 Dog same day</h4>
        </div>
        <p class="text-lg">£25</p>
      </div>
    </div>
  </div>
</section>
