---
import TestimonialsCarousel from "../components/dogCarousel";
---

<section id="testimonials" class="border-2 border-green-500 mt-32 gap-3">
  <h1 class="text-5xl text-center mb-5">Testimonials</h1>
  <div class="flex border-2 border-orange-500  justify-around ">
    <TestimonialsCarousel client:load />
  </div>
</section>
