---
import TestimonialsCarousel from "../components/dogCarousel";
---

<section id="testimonials" class="border-2 border-green-500 mt-32 gap-3 p-10">
  <h1 class="text-5xl text-center mb-5">Testimonials</h1>

  <div class="flex flex-col justify-around">
    <TestimonialsCarousel client:load />
  </div>
</section>
