---
import { Image } from "astro:assets";
import facebookIcon from "src/assets/icons/icons8-facebook-50 (1).png";
---

<footer class="flex items-center bg-white shadow-md my-2">
  <div class="basis-full">
    <big> 07875 291157 </big>
  </div>
  <div class="flex justify-center basis-full">
    <big>
      <a href="mailto:#">waggleswhiskers@gmail.com</a>
    </big>
  </div>
  <div class="basis-full flex justify-end">
    <big>
      <a href="https://www.facebook.com/waggleswhiskers/" target="_blank">
        <Image
          src={facebookIcon}
          alt="Waggles & Whiskers"
          width={60}
          height={60}
        /></a
      >
    </big>
  </div>
</footer>
