---
import { Image } from "astro:assets";
import facebookSrc from "./facebook-icon.ico";
---

<footer>
  <div>
    <small>
      <a href="https://www.facebook.com/waggleswhiskers/">
        <Image
          src={facebookSrc}
          alt="Waggles & Whiskers"
          width={20}
          height={20}
        />facebook/waggleswhiskers</a
      >
    </small>
  </div>
  <div>
    <small> 07875 291157 | 01273 606259</small>
  </div>
  <div>
    <small>
      <a href="mailto:#">waggleswhiskers@gmail.com</a>
    </small>
  </div>
</footer>
