---
import { Image } from "astro:assets";
import facebookIcon from "public/icons/icons8-facebook-50.webp";
import facebookIconHover from "/public/icons/icons8-facebook-50_orange.png";

---

<footer
  class="flex items-center bg-white my-2 border-t-2 border-green-700 border-opacity-35 w-full md:relative md:mt-24"
>
  <div
    class="basis-full p-3 text-neutral-900 font-medium md:text-xl transition ease-in-out hover:-translate-y-0.5 hover:scale-110 hover:text-orange-600"
  >
    <a href="tel:07875291157">07875 291157</a>
  </div>
  <div
    class="flex justify-center md:text-xl text-neutral-900 basis-full p-3 transition ease-in-out hover:-translate-y-0.5 hover:scale-110 hover:text-orange-600"
  >
    <p>
      <a href="mailto:waggleswhiskers@gmail.com">waggleswhiskers@gmail.com</a>
    </p>
  </div>

  <div class="basis-full flex justify-end">
    <p>
      <a
        href="https://www.facebook.com/waggleswhiskers/"
        target="_blank"
        class="group"
      >
        <Image
          src={facebookIcon}
          alt="Waggles & Whiskers"
          width={50}
          height={50}
          class="inline-block group-hover:hidden transition ease-in-out hover:-translate-y-0.5 hover:scale-110"
        />
        <Image
          src={facebookIconHover}
          alt="Waggles & Whiskers"
          width={50}
          height={50}
          class="hidden group-hover:inline-block transition ease-in-out hover:-translate-y-0.5 hover:scale-110"
        />
      </a>
    </p>
  </div>
</footer>
