---
import { Image } from "astro:assets";
import facebookIcon from "src/assets/icons/icons8-facebook-50 (1).png";
---

<footer class="flex border-2 justify-between items-center gap-1">
  <div>
    <big> 07875 291157 </big>
  </div>
  <div>
    <big>
      <a href="mailto:#">waggleswhiskers@gmail.com</a>
    </big>
  </div>
  <div>
    <big>
      <a href="https://www.facebook.com/waggleswhiskers/" target="_blank">
        <Image
          src={facebookIcon}
          alt="Waggles & Whiskers"
          width={60}
          height={60}
        /></a
      >
    </big>
  </div>
</footer>
